$primary-light: #d87aff;
$primary-main: #cf59ff;
$primary-dark: #903eb2;
$primary-contrastText: #ffffff;

$secondary-light: #33cbb7;
$secondary-main: #00bfa5;
$secondary-dark: #008573;
$secondary-contrastText: #000000;
