$primary-light: #d87aff;
$primary-main: #cf59ff;
$primary-dark: #903eb2;
$primary-contrastText: #ffffff;

$secondary-light: #33ab9f;
$secondary-main: #009688;
$secondary-dark: #00695f;
$secondary-contrastText: #ffffff;
