/**
 * @author Sushant Kumar
 * @email sushant.kum96@gmail.com
 * @create date Apr 19 2021 18:15:51 GMT+05:30
 * @modify date Apr 19 2021 18:15:51 GMT+05:30
 * @desc Styles for Layout component
 */

@import "../../styles/constants/screen-sizes/screen-sizes";
@import "../Header/Header.constants";
@import "../Sidenav/Sidenav.constants";

.Layout {
  min-height: 100vh;
  display: grid;

  &__header {
    grid-area: Layout__header;
  }

  &__sidenav {
    grid-area: Layout__sidenav;
  }

  &__content {
    grid-area: Layout__content;
  }
}

@media screen and (max-width: $sm) {
  .Layout {
    grid-template-columns: 1fr;
    grid-template-rows: $header-height-sm 1fr;
    grid-template-areas:
      "Layout__header"
      "Layout__content";
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .Layout {
    grid-template-columns: $sidenav-width 1fr;
    grid-template-rows: $header-height 1fr;
    grid-template-areas:
      "Layout__sidenav Layout__header"
      "Layout__sidenav Layout__content";
  }
}

@media screen and (min-width: $lg) {
  .Layout {
    grid-template-columns: $sidenav-width 1fr;
    grid-template-rows: $header-height 1fr;
    grid-template-areas:
      "Layout__sidenav Layout__header"
      "Layout__sidenav Layout__content";
  }
}
