/**
 * @author Sushant Kumar
 * @email sushant.kum96@gmail.com
 * @create date Apr 19 2021 18:16:39 GMT+05:30
 * @modify date Apr 19 2021 18:16:39 GMT+05:30
 * @desc Styles for Sidenav component
 */

@import "./SideNav.constants";

:export {
  sideNavWidthSm: $sidenav-width-sm;
  sideNavWidth: $sidenav-width;
  sideNavWidthExpanded: $sidenav-width-expanded;
}

.Sidenav {
}
