/**
 * @author Sushant Kumar
 * @email sushant.kum96@gmail.com
 * @create date May 22 2021 16:59:29 GMT+05:30
 * @modify date May 30 2021 21:22:04 GMT+05:30
 * @desc Styles for MarketsTable component
 */

@import "../../../../styles/constants/screen-sizes/screen-sizes";
@import "../../../../styles/constants/palette/palette.scss";

.MarketsTable {
  &__head {
    &__row {
      &__cell {
        position: sticky;
        z-index: 10;

        &--dark {
          background-color: #424242;
          box-shadow: 0px 1px 0px 0px rgba(81, 81, 81, 1) !important;
        }

        &--light {
          background-color: #fff;
          box-shadow: 0px 1px 0px 0px rgba(224, 224, 224, 1) !important;
        }

        &__tooltip-icon {
          vertical-align: middle;
          margin-left: 4px;
        }
      }
    }
  }

  &__body {
    &__row {
      &__cell {
        &--marketName {
          &__content {
            display: grid;
            column-gap: 8px;
            align-items: center;
            grid-template-columns: 20px auto;
            grid-template-areas: "MarketsTable__body__row__cell--marketName__content__icon MarketsTable__body__row__cell--marketName__content__text";

            &__icon {
              width: 20px;
              height: 20px;
              grid-area: MarketsTable__body__row__cell--marketName__content__icon;
            }

            &__text {
              grid-area: MarketsTable__body__row__cell--marketName__content__text;
            }
          }
        }

        &--twentyFourHrData {
          &__content {
            display: grid;
            align-items: center;
            justify-content: stretch;

            &__divider {
              align-self: center;

              &--change-high {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high;
              }

              &--high-low {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__divider--high-low;
              }

              &--low-vol {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol;
              }
            }

            &__change {
              grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change;
              display: grid;
              align-items: center;
              justify-content: start;
              column-gap: 8px;

              &__legend {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__legend;
                display: grid;
                align-items: center;
                justify-content: center;
              }

              &__percentage {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage;
                border-radius: 4px;
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: 24px auto;
                grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage__icon MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage__text";

                &--up {
                  background-color: rgba($success-main, 0.2);
                  color: $success-main;
                }

                &--down {
                  background-color: rgba($error-main, 0.2);
                  color: $error-main;
                }

                &__icon {
                  grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage__icon;
                }

                &__text {
                  grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage__text;
                }
              }

              &__value {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__value;
                display: grid;
                align-items: center;
                justify-content: start;
                grid-template-columns: 24px auto;
                grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__change__value__icon MarketsTable__body__row__cell--twentyFourHrData__content__change__value__text";

                &__icon {
                  grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__value__icon;
                }

                &__text {
                  grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__change__value__text;
                }
              }
            }

            &__high {
              grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__high;
              display: grid;
              align-items: center;
              justify-content: start;
              column-gap: 8px;
              grid-template-columns: 16px auto;
              grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__high__legend MarketsTable__body__row__cell--twentyFourHrData__content__high__value";

              &__legend {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__high__legend;
                display: grid;
                align-items: center;
                justify-content: center;
              }

              &__value {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__high__value;
              }
            }

            &__low {
              grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__low;
              display: grid;
              align-items: center;
              justify-content: start;
              column-gap: 8px;
              grid-template-columns: 16px auto;
              grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__low__legend MarketsTable__body__row__cell--twentyFourHrData__content__low__value";

              &__legend {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__low__legend;
                display: grid;
                align-items: center;
                justify-content: center;
              }

              &__value {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__low__value;
              }
            }

            &__vol {
              grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__vol;
              display: grid;
              align-items: center;
              justify-content: start;
              column-gap: 8px;
              grid-template-columns: 16px auto;
              grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__vol__legend MarketsTable__body__row__cell--twentyFourHrData__content__vol__value";

              &__legend {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__vol__legend;
                display: grid;
                align-items: center;
                justify-content: center;
              }

              &__value {
                grid-area: MarketsTable__body__row__cell--twentyFourHrData__content__vol__value;
              }
            }
          }
        }

        &--twentyFourHrChange {
          &--up &__content {
            &__percentage {
              color: $success-main;
            }
          }

          &--down &__content {
            &__percentage {
              color: $error-main;
            }
          }

          &__content {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 9px 1fr;
            grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrChange__content__value MarketsTable__body__row__cell--twentyFourHrChange__content__divider MarketsTable__body__row__cell--twentyFourHrChange__content__percentage";

            &__value {
              display: grid;
              align-items: center;
              justify-content: center;
              grid-template-columns: auto auto;
              grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrChange__content__value__icon MarketsTable__body__row__cell--twentyFourHrChange__content__value__text";
              justify-self: end;
              grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__value;

              &__icon {
                grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__value__icon;
              }

              &__text {
                grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__value__text;
              }
            }

            &__divider {
              justify-self: end;
              grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__divider;
            }

            &__percentage {
              display: grid;
              align-items: center;
              justify-content: center;
              grid-template-columns: auto auto;
              grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrChange__content__percentage__icon MarketsTable__body__row__cell--twentyFourHrChange__content__percentage__text";
              justify-self: start;
              grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__percentage;

              &__icon {
                grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__percentage__icon;
              }

              &__text {
                font-weight: 500 !important;
                grid-area: MarketsTable__body__row__cell--twentyFourHrChange__content__percentage__text;

                &--zero {
                  margin-left: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .MarketsTable {
    &__head {
      &__row {
        &__cell {
          padding: 8px 4px !important;
          top: calc(48px - 8px);

          &--starred {
            width: 38px;
          }

          &--marketName {
            width: 90px;
          }

          &--lastPrice {
            width: 108px;
          }
        }
      }
    }

    &__body {
      &__row {
        &__cell {
          padding: 8px 4px !important;

          &--no-data {
            padding: 16px !important;
          }

          &--starred {
            width: 38px;
          }

          &--marketName {
            width: 90px;
          }

          &--lastPrice {
            width: 108px;
          }

          &--twentyFourHrData {
            &__content {
              grid-template-rows: auto 17px auto 17px auto 17px auto;
              grid-template-areas:
                "MarketsTable__body__row__cell--twentyFourHrData__content__change"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high"
                "MarketsTable__body__row__cell--twentyFourHrData__content__high"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--high-low"
                "MarketsTable__body__row__cell--twentyFourHrData__content__low"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol"
                "MarketsTable__body__row__cell--twentyFourHrData__content__vol";

              &__change {
                grid-template-columns: 16px 90px;
                grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__change__legend MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage";
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .MarketsTable {
    &__head {
      &__row {
        &__cell {
          padding: 8px 4px !important;
          top: calc(48px - 8px);

          &--starred {
            width: 38px;
          }

          &--marketName {
            width: 90px;
          }

          &--lastPrice {
            width: 108px;
          }
        }
      }
    }

    &__body {
      &__row {
        &__cell {
          padding: 8px 4px !important;

          &--no-data {
            padding: 16px !important;
          }

          &--starred {
            width: 38px;
          }

          &--marketName {
            width: 90px;
          }

          &--lastPrice {
            width: 108px;
          }

          &--twentyFourHrData {
            &__content {
              grid-template-columns: 1fr 17px 1fr;
              grid-template-rows: auto 17px auto 17px auto;
              grid-template-areas:
                "MarketsTable__body__row__cell--twentyFourHrData__content__change MarketsTable__body__row__cell--twentyFourHrData__content__change MarketsTable__body__row__cell--twentyFourHrData__content__change"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high"
                "MarketsTable__body__row__cell--twentyFourHrData__content__high MarketsTable__body__row__cell--twentyFourHrData__content__divider--high-low MarketsTable__body__row__cell--twentyFourHrData__content__low"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol"
                "MarketsTable__body__row__cell--twentyFourHrData__content__vol MarketsTable__body__row__cell--twentyFourHrData__content__vol MarketsTable__body__row__cell--twentyFourHrData__content__vol";

              &__divider {
                &--high-low {
                  justify-self: center;
                }
              }
              &__change {
                grid-template-columns: 16px 90px auto;
                grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__change__legend MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage MarketsTable__body__row__cell--twentyFourHrData__content__change__value";
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .MarketsTable {
    &__head {
      &__row {
        &__cell {
          padding-top: 8px !important;
          padding-bottom: 8px !important;
          top: 48px;

          &--starred {
            width: 60px;
          }

          &--marketName {
            width: 170px;
          }

          &--lastPrice {
            width: 170px;
          }
        }
      }
    }

    &__body {
      &__row {
        &__cell {
          padding-top: 8px !important;
          padding-bottom: 8px !important;
          top: calc(48px - 8px);

          &--no-data {
            padding: 16px 32px !important;
          }

          &--starred {
            width: 60px;
          }

          &--marketName {
            width: 170px;
          }

          &--lastPrice {
            width: 170px;
          }

          &--twentyFourHrData {
            &__content {
              grid-template-columns: 1fr 17px 1fr;
              grid-template-rows: auto 17px auto 17px auto;
              grid-template-areas:
                "MarketsTable__body__row__cell--twentyFourHrData__content__change MarketsTable__body__row__cell--twentyFourHrData__content__change MarketsTable__body__row__cell--twentyFourHrData__content__change"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high MarketsTable__body__row__cell--twentyFourHrData__content__divider--change-high"
                "MarketsTable__body__row__cell--twentyFourHrData__content__high MarketsTable__body__row__cell--twentyFourHrData__content__divider--high-low MarketsTable__body__row__cell--twentyFourHrData__content__low"
                "MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol MarketsTable__body__row__cell--twentyFourHrData__content__divider--low-vol"
                "MarketsTable__body__row__cell--twentyFourHrData__content__vol MarketsTable__body__row__cell--twentyFourHrData__content__vol MarketsTable__body__row__cell--twentyFourHrData__content__vol";

              &__divider {
                &--high-low {
                  justify-self: center;
                }
              }
              &__change {
                grid-template-columns: 16px 90px auto;
                grid-template-areas: "MarketsTable__body__row__cell--twentyFourHrData__content__change__legend MarketsTable__body__row__cell--twentyFourHrData__content__change__percentage MarketsTable__body__row__cell--twentyFourHrData__content__change__value";
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .MarketsTable {
    &__head {
      &__row {
        &__cell {
          padding-top: 8px !important;
          padding-bottom: 8px !important;
          top: 48px;

          &--starred {
            width: 60px;
          }

          &--marketName {
            width: 170px;
          }

          &--lastPrice {
            width: 170px;
          }

          &--twentyFourHrChange {
            width: 300px;
          }

          &--twentyFourHrHigh {
            width: 170px;
          }

          &--twentyFourHrLow {
            width: 170px;
          }

          &--twentyFourHrVol {
            width: 170px;
          }
        }
      }
    }

    &__body {
      &__row {
        &__cell {
          padding-top: 8px !important;
          padding-bottom: 8px !important;
          top: calc(48px - 8px);

          &--no-data {
            padding: 16px 32px !important;
          }

          &--starred {
            width: 60px;
          }

          &--marketName {
            width: 170px;
          }

          &--lastPrice {
            width: 170px;
          }

          &--twentyFourHrChange {
            width: 300px;
          }

          &--twentyFourHrHigh {
            width: 170px;
          }

          &--twentyFourHrLow {
            width: 170px;
          }

          &--twentyFourHrVol {
            width: 170px;
          }
        }
      }
    }
  }
}
