/**
 * @author Sushant Kumar
 * @email sushant.kum96@gmail.com
 * @create date May 16 2021 21:23:42 GMT+05:30
 * @modify date May 22 2021 14:27:55 GMT+05:30
 * @desc Styles for Dashboard component
 */

@import "../../styles/constants/screen-sizes/screen-sizes";

.Dashboard {
  &__page-title {
    position: sticky;
    top: -57.6px;
    z-index: 10;

    &__bottom-spacer {
      width: 100%;

      &--theme-dark {
        background-color: #303030;
      }

      &--theme-light {
        background-color: #fafafa;
      }
    }
  }

  &__markets {
    position: relative;

    &__header {
      position: sticky;

      &__toolbar {
        display: grid;
        column-gap: 8px;
        align-items: center;
        grid-template-areas: "Dashboard__markets__header__toolbar__input-search Dashboard__markets__header__toolbar__btn-auto-refresh Dashboard__markets__header__toolbar__btn-refresh";

        &--small-screen {
          margin: 8px 8px 0 8px;
        }

        &--large-screen {
          position: absolute;
          right: 8px;
          z-index: 10;
        }

        &__input-search {
          grid-area: Dashboard__markets__header__toolbar__input-search;
        }

        &__btn-auto-refresh {
          position: relative;
          grid-area: Dashboard__markets__header__toolbar__btn-auto-refresh;

          &__progress {
            position: absolute;

            &--large-screen {
              top: 9%;
              left: 9%;
            }
          }
        }

        &__btn-refresh {
          grid-area: Dashboard__markets__header__toolbar__btn-refresh;

          &--spinning {
            animation-name: spin-btn-refresh;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }

      &__tabs {
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .Dashboard {
    &__page-title {
      &__bottom-spacer {
        height: 8px;
      }
    }

    &__markets {
      margin: 0 -16px;

      &__header {
        top: calc(-8px - 48px);

        &__toolbar {
          grid-template-columns: auto 30px 30px;
        }
      }

      &__tabpanel {
        &__box {
          padding: 0 !important;
        }
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .Dashboard {
    &__page-title {
      &__bottom-spacer {
        height: 8px;
      }
    }

    &__markets {
      margin: 0 -16px;

      &__header {
        top: calc(-8px - 48px);

        &__toolbar {
          grid-template-columns: auto 30px 30px;
        }
      }

      &__tabpanel {
        &__box {
          padding: 0 !important;
        }
      }
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .Dashboard {
    &__page-title {
      &__bottom-spacer {
        height: 16px;
      }
    }

    &__markets {
      &__header {
        border-radius: 4px 4px 0 0;
        top: 0;

        &__toolbar {
          grid-template-columns: auto 48px 48px;
        }
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .Dashboard {
    &__page-title {
      &__bottom-spacer {
        height: 16px;
      }
    }

    &__markets {
      &__header {
        border-radius: 4px 4px 0 0;
        top: 0;

        &__toolbar {
          grid-template-columns: auto 48px 48px;
        }
      }
    }
  }
}

@keyframes spin-btn-refresh {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
