/**
 * @author Sushant Kumar
 * @email sushant.kum96@gmail.com
 * @create date Apr 19 2021 18:16:26 GMT+05:30
 * @modify date Apr 20 2021 19:48:30 GMT+05:30
 * @desc Constants for Sidenav component styles
 */

$sidenav-width-sm: 0px;
$sidenav-width: 64px;
$sidenav-width-expanded: 240px;
$sidenav-expansion-duration: 300ms;
$sidenav-expansion-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$sidenav-header-logo-size: 40px;
