/**
 * @author Sushant Kumar
 * @email sushant.kum96@gmail.com
 * @create date Jun 06 2021 14:24:19 GMT+05:30
 * @modify date Aug 20 2021 17:31:48 GMT+05:30
 * @desc Styles for MarketCard
 */

@import "../../../../styles/constants/palette/palette";
@import "../../../../styles/constants/screen-sizes/screen-sizes";
@import "../../../../styles/mixins/loading-shimmer";

.MarketCard {
  &__header {
    &__content {
      &__subheader {
        display: grid;
        justify-content: space-between;
        grid-template-areas: "MarketCard__header__content__subheader__price MarketCard__header__content__subheader__change-perc";

        &__price {
          grid-area: MarketCard__header__content__subheader__price;
        }

        &__change-perc {
          grid-area: MarketCard__header__content__subheader__change-perc;
          padding: 0 8px;
          border-radius: 4px;

          display: grid;
          align-items: center;
          justify-content: center;
          grid-template-areas: "MarketCard__header__content__subheader__change-perc__icon MarketCard__header__content__subheader__change-perc__text";

          &--theme-dark {
            background-color: rgba(#ffffff, 0.2);
          }

          &--theme-light {
            background-color: rgba(#000000, 0.2);
          }

          &--up {
            background-color: rgba($success-main, 0.2);
            color: $success-main;
          }

          &--down {
            background-color: rgba($error-main, 0.2);
            color: $error-main;
          }

          &__icon {
            grid-area: MarketCard__header__content__subheader__change-perc__icon;
          }

          &__text {
            grid-area: MarketCard__header__content__subheader__change-perc__text;
          }
        }
      }
    }
  }

  &__content {
    position: relative;

    &__graph-shimmer {
      width: 100%;
      height: 100px;

      border-radius: 4px;
      @include loading-shimmer();
      content: " ";
    }

    &__graph-duration {
      position: absolute;
      bottom: 0px;
      right: 16px;
      transform: translateY(calc(50% - 12px));
    }
  }
}

@media screen and (max-width: $sm) {
  .MarketCard {
    &__header {
      &__content {
        &__subheader {
          &__change-perc {
            padding: 0 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .MarketCard {
    &__header {
      &__content {
        &__subheader {
          &__change-perc {
            padding: 0 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .MarketCard {
    &__header {
      &__content {
        &__subheader {
          &__change-perc {
            padding: 0 8px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .MarketCard {
    &__header {
      &__content {
        &__subheader {
          &__change-perc {
            padding: 0 8px;
          }
        }
      }
    }
  }
}
